apiVersion: apps/v1
kind: Deployment
metadata:
  name: health-api
  namespace: healthcare-dev
  labels:
    app: health-api
spec:
  replicas: 2
  revisionHistoryLimit: 5
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  selector:
    matchLabels:
      app: health-api
  template:
    metadata:
      labels:
        app: health-api
    spec:
      containers:
        - name: health-api
          image: ACCOUNT_ID.dkr.ecr.ap-south-1.amazonaws.com/health-api:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8000
          env:
            - name: PREDICT_SCORE
              valueFrom:
                secretKeyRef:
                  name: health-api-secrets
                  key: predict_score
          readinessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 15
            periodSeconds: 20
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "300m"
              memory: "256Mi"
---
apiVersion: v1
kind: Secret
metadata:
  name: health-api-secrets
  namespace: healthcare-dev
type: Opaque
stringData:
  predict_score: "0.75"
